<app-header (searchChanged)="updateSearchFilter($event)"></app-header>
<ngx-spinner></ngx-spinner>
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Liste des matches</div>
                    <div class="panel-options">
                        <a href="/Matchsaisie" class="btn btn btn-primary">Creation</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Catégorie</th>
                                <th>Equipe 1</th>
                                <th>Equipe 2</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Cote Equipe 1</th>
                                <th>Cote Equipe 2</th>
                                <th>Cote Match nul</th>
                                <th>Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                
                
                            <tr *ngFor="let match of matchList |filterTab:searchedTerm">
                                <td><a href="/Match/{{ match._id }}">{{ match.idcategorie.nom }}</a></td>
                                <td>{{ match.idequipe1.nom }}</td>
                                <td>{{ match.idequipe2.nom }}</td>
                                <td>{{ match.date | date}}</td>
                                <td>{{ match.heure }}</td>
                                <td>{{ match.coteequipe1 }}</td>
                                <td>{{ match.coteequipe2 }}</td>
                                <td>{{ match.coteMatchNull }}</td>
                                <td>{{ match.etat }}</td>
                            </tr>
                
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <nav>
                           <button mat-raised-button color="primary" (click)="premierePage()">
                              Première
                           </button>
                           <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
                              Prev
                           </button>
                           <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
                              Suiv
                           </button>
                           <button mat-raised-button color="primary" (click)="dernierePage()">
                              Dernière
                           </button>
                           </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>