<app-header></app-header>
<ngx-spinner></ngx-spinner>
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Liste des utilisateurs</div>
                    <div class="panel-options">
                        <a href="/PariSaisie" class="btn btn btn-primary">Creation</a>
                    </div>
                </div>
                <app-utilisateurtableaubody [utilisateurList]="utilisateurList"></app-utilisateurtableaubody>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>