.button-container-fiche {
    display: flex;
    align-content: space-between;
    width: 100%;
}
.form-group-custom { 
    display: flex;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group { 
    position: relative;
    display: flex;
    padding : 0 15px ;
}