<app-header></app-header>
	<div class="page-content">
		<div class="row">
		<div class="col-md-2">
			<app-menu></app-menu>
		</div>
		<div class="col-md-10">
      <div class="content-box-large">
          <div class="panel-heading">
            <div class="panel-title">Saisie Pari</div>
          
            <div class="panel-options">
              <a href="/Pari" class="btn btn btn-primary">Liste</a>            
            </div>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" >
              <div class="col-md-12">
                  <div class="form-group form-group-custom" >
                      <label for="user" class="col-sm-2 control-label">Utilisateur</label>
                      <div class="input-group  col-sm-10">
                          <span class="input-group-text" id="basic-addon1" (click) = "toggleModalUser()">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                              </svg>
                          </span>
                          <input type="text" class="form-control" id="user" placeholder="utilisateur" disabled value="{{pari?.idUser?.nom}}">
                      </div>
                  </div>
                  <div class="form-group form-group-custom">
                      <label for="match" class="col-sm-2 control-label">Match</label>
                      <div class="input-group col-sm-10">
                          <span class="input-group-text" id="basic-addon1" (click) = "toggleModalMatch()">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                              </svg>
                          </span>
                          <input type="text" class="form-control" id="match" placeholder="match"  disabled  value="{{pari?.idMatch?.idcategorie?.nom}} ({{pari?.idMatch?.idequipe1?.nom}} vs {{pari?.idMatch?.idequipe2?.nom}})">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Equipe choisie</label>
                      <div class="col-sm-10">
                          <select name="idequipe" id="idequipe" [(ngModel)]="idEquipe" class="form-control" >
                            <option value="{{pari?.idMatch?.idequipe1?.id }}" >{{pari?.idMatch?.idequipe1?.nom}}</option>
                            <option value="{{pari?.idMatch?.idequipe2?.id}}" >{{pari?.idMatch?.idequipe2?.nom}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Mise</label>
                      <div class="col-sm-10">
                          <input type="number" name="mise" class="form-control" id="mise" [(ngModel)]="mise" placeholder="mise" value="{{pari?.mise}}">
                      </div>
                  </div>
              </div>   
              <div class="col-md-12 button-container-fiche">
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-success" (click)="createPariById()">Modifier</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      </div>
    </div>
	</div>
  </div>

    <!-- Modal user -->
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Liste utilisateur</h4>
      </div>
      <div class="modal-body">
          <form  >
              <table class="table">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Prenom</th>
                      <th scope="col">Email</th>
                      <th scope="col">Login</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of utilisateurList">
                      <td><input type="radio" value="{{user | json}}" [(ngModel)]="idUser" name="iduser_{{user._id}}"/></td>
                      <td scope="row">{{user.nom}}</td>
                      <td>{{user.prenom}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.login}}</td>
                  </tr>
              </tbody>
          </table>  
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click) = "savePopupUser()">Enregister</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal user -->


<!-- Modal match -->
<div class="modal fade" id="modalMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Liste match</h4>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Equipe 1 - Coté Equipe 1</th>
                    <th scope="col">Coté match Null</th>
                    <th scope="col">Equipe 2 - Coté Equipe 2</th>
                    <th scope="col">Date et heure</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let match of matchList">
                    <td><input type="radio" value="{{match  | json}}" [(ngModel)]="idMatch" name="idmatch_{{match._id}}"></td>
                    <td scope="row">{{match.idequipe1.nom}} - {{match.coteequipe1}}</td>
                    <td>{{match.coteMatchNull}}</td>
                    <td>{{match.idequipe2.nom}} - {{match.coteequipe2}}</td>
                    <td>{{match.date | date}} à {{match.heure}}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click) = "savePopupMatch()">Enregister</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal match -->
<app-footer></app-footer>