<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li><a href="/Match"><i class="glyphicon glyphicon-euro"></i> Gestion Match</a></li>
        <li><a href="/Pari"><i class="glyphicon glyphicon-euro"></i> Gestion pari</a></li>
        <li><a href="/Equipe"><i class="glyphicon glyphicon-list-alt"></i> Gestion equipe</a></li>
        <li><a href="/Categorie"><i class="glyphicon glyphicon-align-left"></i>Gestion Categorie</a></li>
        <li><a href="/Utilisateur"><i class="glyphicon glyphicon-user"></i>Gestion Utilisateur</a></li>
        <li><a href="/Dashboard"><i class="glyphicon glyphicon-dashboard"></i>Tableau de bord</a></li>
    </ul>
 </div>