<div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom(s)</th>
                <th>Email</th>
                <th>Login</th>
            </tr>
            </thead>
            <tbody>


            <tr *ngFor="let utilisateur of utilisateurList">
                <td><a href="/Utilisateur/{{ utilisateur._id }}">{{ utilisateur.nom }}</a></td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.login }}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>