<div class="content-box-large">
	<div class="panel-heading">
	  	<div class="panel-title">Liste des paris</div>
	  	<div class="panel-options">
			<a href="/PariSaisie" class="btn btn btn-primary">Creation</a>            
		</div>
  	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table">
			<thead>
			  <tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td><a href="/PariFiche">1</a></td>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			  </tr>
			  <tr>
				<td><a href="/PariFiche">2</a></td>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			  </tr>
			  <tr>
				<td><a href="/PariFiche">3</a></td>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
</div>